<div class="page-header">
  <h1>
    Evaluations
    <a href="/evaluations/new" class="btn btn-lg btn-success">New Evaluation</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Class</th>
        <th>Avg hours</th>
        <th>Communication</th>
        <th>Engagement</th>
        <th>Practical</th>
        <th>Learning</th>
        <th>Recommendation</th>
        <th>Actions</th>
      </tr>

      <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.class_id %></td>
        <td><%= evaluation.avg_hours %></td>
        <td><%= evaluation.communication %></td>
        <td><%= evaluation.engagement %></td>
        <td><%= evaluation.practical %></td>
        <td><%= evaluation.learning %></td>
        <td><%= evaluation.recommendation %></td>
        <td>
          <a href="/evaluations/<%= evaluation.id %>" class="btn btn-primary">Show</a>
          <a href="/evaluations/<%= evaluation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_evaluation/<%= evaluation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
