<!-- Validation failure messages -->
<% if @evaluation.errors.any? %>
  <% @evaluation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Evaluation</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_evaluation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for course_id -->
      <div class="form-group">
        <label for="course_id" class="control-label">
          Section
        </label>

        <%= select_tag(:course_id, options_from_collection_for_select(Course.all, :id, :course_name, :course_id), :class => "form-control") %>
      </div>

      <!-- Label and input for professor_id -->
      <div class="form-group">
        <label for="professor_id" class="control-label">
          Professor
        </label>

        <%= select_tag(:professor_id, options_from_collection_for_select(Professor.all, :id, :last_name, :professor_id), :class => "form-control") %>
      </div>

      <!-- Label and input for avg_hours -->
      <div class="form-group">
        <label for="avg_hours" class="control-label">
          Avg hours
        </label>

        <input type="number" min="0" step="0.01" id="avg_hours" name="avg_hours" placeholder="Avg hours" class="form-control" value="<%= @evaluation.avg_hours %>">
      </div>

      <!-- Label and input for communication -->
      <div class="form-group">
        <label for="communication" class="control-label">
          Communication
        </label>

        <input type="number" min="0" max="5" step="1" id="communication" name="communication" placeholder="Communication" class="form-control" value="<%= @evaluation.communication %>">
      </div>

      <!-- Label and input for engagement -->
      <div class="form-group">
        <label for="engagement" class="control-label">
          Engagement
        </label>

        <input type="number" min="0" max="5" step="1" id="engagement" name="engagement" placeholder="Engagement" class="form-control" value="<%= @evaluation.engagement %>">
      </div>

      <!-- Label and input for practical -->
      <div class="form-group">
        <label for="practical" class="control-label">
          Practical
        </label>

        <input type="number" min="0" max="5" step="1" id="practical" name="practical" placeholder="Practical" class="form-control" value="<%= @evaluation.practical %>">
      </div>

      <!-- Label and input for learning -->
      <div class="form-group">
        <label for="learning" class="control-label">
          Learning
        </label>

        <input type="number" min="0" max="5" step="1" id="learning" name="learning" placeholder="Learning" class="form-control" value="<%= @evaluation.learning %>">
      </div>

      <!-- Label and input for recommendation -->
      <div class="form-group">
        <label for="recommendation" class="control-label">
          Recommendation
        </label>

        <input type="number" min="0" max="5" step="1" id="recommendation" name="recommendation" placeholder="Recommendation" class="form-control" value="<%= @evaluation.recommendation %>">
      </div>

      <!-- Label and input for p1_bid_min -->
      <div class="form-group">
        <label for="p1_bid_min" class="control-label">
          Phase 1 Bid min
        </label>

        <input type="number" id="p1_bid_min" name="p1_bid_min" placeholder="Phase 1 Bid min" class="form-control" value="<%= @evaluation.p1_bid_min %>">
      </div>

      <!-- Label and input for p1_bid_max -->
      <div class="form-group">
        <label for="p1_bid_max" class="control-label">
          Phase 1 Bid max
        </label>

        <input type="number" id="p1_bid_max" name="p1_bid_max" placeholder="Phase 1 Bid max" class="form-control" value="<%= @evaluation.p1_bid_max %>">
      </div>



      <!-- Label and input for p2_bid_min -->
      <div class="form-group">
        <label for="p2_bid_min" class="control-label">
          Phase 2 Bid min
        </label>

        <input type="number" id="p2_bid_min" name="p2_bid_min" placeholder="Phase 2 Bid min" class="form-control" value="<%= @evaluation.p2_bid_min %>">
      </div>

      <!-- Label and input for p2_bid_max -->
      <div class="form-group">
        <label for="p2_bid_max" class="control-label">
          Phase 2 Bid max
        </label>

        <input type="number" id="p2_bid_max" name="p2_bid_max" placeholder="Phase 2 Bid max" class="form-control" value="<%= @evaluation.p2_bid_max %>">
      </div>



      <!-- Label and input for p3_bid_min -->
      <div class="form-group">
        <label for="p3_bid_min" class="control-label">
          Phase 3 Bid min
        </label>

        <input type="number" id="p3_bid_min" name="p3_bid_min" placeholder="Phase 3 Bid min" class="form-control" value="<%= @evaluation.p3_bid_min %>">
      </div>

      <!-- Label and input for p3_bid_max -->
      <div class="form-group">
        <label for="p3_bid_max" class="control-label">
          Phase 3 Bid max
        </label>

        <input type="number" id="p3_bid_max" name="p3_bid_max" placeholder="Phase 3 Bid max" class="form-control" value="<%= @evaluation.p3_bid_max %>">
      </div>




      <!-- Label and input for p4_bid_min -->
      <div class="form-group">
        <label for="p4_bid_min" class="control-label">
          Phase 4 Bid min
        </label>

        <input type="number" id="p4_bid_min" name="p4_bid_min" placeholder="Phase 4 Bid min" class="form-control" value="<%= @evaluation.p4_bid_min %>">
      </div>

      <!-- Label and input for p4_bid_max -->
      <div class="form-group">
        <label for="p4_bid_max" class="control-label">
          Phase 4 Bid max
        </label>

        <input type="number" id="p4_bid_max" name="p4_bid_max" placeholder="Phase 4 Bid max" class="form-control" value="<%= @evaluation.p4_bid_max %>">
      </div>

      <button class="btn btn-success">
        Create Evaluation
      </button>
      or
      <a href="/evaluations">Cancel</a>
    </form>
  </div>
</div>
