<div class="page-header">
  <h3>Schedule #<%= @schedule.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Section</dt>
      <dd><%= @schedule.section_id %></dd>

      <dt>Section number</dt>
      <dd><%= @schedule.section_number %></dd>

      <dt>Quarter</dt>
      <dd><%= @schedule.quarter %></dd>

      <dt>Day</dt>
      <dd><%= @schedule.day %></dd>

      <dt>Time</dt>
      <dd><%= @schedule.time %></dd>

      <dt>Half credit</dt>
      <dd><%= @schedule.half_credit %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/schedules" class="btn btn-primary">
        Back
      </a>
      <a href="/schedules/<%= @schedule.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_schedule/<%= @schedule.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
