<div class="page-header">
   <h3><%= @section.course.course_name %></h3>
</div>

<div class="row">
   <!-- Professor photo & name, and course description -->
   <div class="col-md-6 mb-2">
      <div class="row" id='course_desc'>
         <h5 style="text-align: center;">Course Description</h5>
         <div class="col-xs-3">
            <div class="professor_box">
               <img class="professor_img" src="<%= @section.professor.photo_url %>" alt="<%= @section.professor.last_name %>">
               <div class="professor_tagline">
                  <p><%= @section.professor.first_name %> <%= @section.professor.last_name %></p>
               </div>
            </div>
         </div>
         <div class="col-xs-9">
            <div class="course_content">
               <%= simple_format(@section.content, {}, {}) %>
            </div>
         </div>
      </div>
   </div>

   <!-- Bid Price History Table -->
   <div class="col-md-6 mb-2">
      <h5 style="text-align: center;">Full Bid History</h5>
      <!-- Render bid table -->
      <%= render partial: 'bid_table', locals: {bids: @section.bids} %>
   </div>
</div> <!-- Close first row -->

<!-- Mean ratings and avg. hours historic data -->
<div class="row">
   <!-- Render line chart of mean ratings data -->
   <div class="col-md-6">
      <%= line_chart @mean_data, discrete: true, min: @minimum, max: 5, ytitle: "Rating", title: "Student Ratings (Means)" %>
   </div>

   <!-- Render line chart of avg. hours data -->
   <div class="col-md-6">
      <%= line_chart @hours_data, discrete: true, min: nil, max: nil, ytitle: "Hours", title: "Average Hours per Week" %>
   </div>
</div>

<!-- Bid Points Historic Data -->
<div class="row">
   <!-- Render column chart of historic bid data -->
   <div class="col-md-12">
      <%= column_chart @bid_data, discrete: true, min: 0, max: nil, ytitle: "Bid Points", title: "Bid Points by Phase" %>
   </div>
</div>
