<div class="page-header">
  <h3><%= @section.course.course_name %></h3>
</div>

<div class="row">
  <div class="col-md-6 mb-2">
    <dl class="dl-horizontal">
      <dt>Course:</dt>
      <dd><%= @section.course.course_name %></dd>

      <dt>Content:</dt>
      <dd><span class="course_content"><%= @section.content %></span></dd>

    </dl>



    <div class="btn-group btn-group-justified">
      <a href="/sections" class="btn btn-primary">
        Back
      </a>
      <a href="/sections/<%= @section.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_section/<%= @section.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>

  <div class="col-md-6 mb-2">
     <img src="<%= @section.professor.photo_url %>">
     <dt>Professor:</dt>
     <dd><%= @section.professor.first_name %> <%= @section.professor.last_name %></dd>



  </div>
</div>
