<script>google.charts.setOnLoadCallback(drawSeriesChart);</script>
<div class="page-header">
  <h3><%= @section.course.course_name %></h3>
</div>

<div class="row">
   <div class="col-md-6 mb-2">
      <div class="row">
         <div class="col-md-3">
            <div class="professor_box">
               <img class="professor_img" src="<%= @section.professor.photo_url %>" alt="<%= @section.professor.last_name %>">
               <div class="professor_tagline">
                  <p><%= @section.professor.first_name %> <%= @section.professor.last_name %></p>
               </div>
            </div>
         </div>
         <div class="col-md-9">
            <div class="course_content">
               <%= simple_format(@section.content, {}, {}) %>
            </div>
         </div>
      </div>
   </div>

  <div class="col-md-6 mb-2">
     <% if @section.bids.empty? %>
      <p>No bid data</p>
     <% else %>
         <table class='table table-hover'>
            <tr>
               <th>
                  Year
               </th>
               <th>
                  Quarter
               </th>
               <th>
                  Time
               </th>
               <th>
               Phase 1
               </th>
               <th>
               Phase 2
               </th>
               <th>
               Phase 3
               </th>
               <th>
               Phase 4
               </th>
            </tr>

            <% @section.bids.order(year: :desc, quarter_id: :asc, time_id: :asc).each do |bid| %>
               <tr>
                  <td>
                     <%= bid.year %>
                  </td>
                  <td>
                     <%= bid.quartertable.quarter_output %>
                  </td>
                  <td>
                     <%= convert_time(bid.time_id) %>
                  </td>

                  <td>
                     <% if bid.p1_price == -1 %>
                     Closed
                     <% elsif bid.p1_price == -2 %>
                     N/A
                     <% else %>
                        <%= number_with_delimiter(bid.p1_price, :delimiter => ',') %>
                     <% end %>
                  </td>

                  <td>
                     <% if bid.p2_price == -1 %>
                     Closed
                     <% elsif bid.p2_price == -2 %>
                     N/A
                     <% else %>
                        <%= number_with_delimiter(bid.p2_price, :delimiter => ',') %>
                     <% end %>
                  </td>

                  <td>
                     <% if bid.p3_price == -1 %>
                     Closed
                     <% elsif bid.p3_price == -2 %>
                     N/A
                     <% else %>
                        <%= number_with_delimiter(bid.p3_price, :delimiter => ',') %>
                     <% end %>
                  </td>

                  <td>
                     <% if bid.p4_price == -1 %>
                     Closed
                     <% elsif bid.p4_price == -2 %>
                     N/A
                     <% else %>
                        <%= number_with_delimiter(bid.p4_price, :delimiter => ',') %>
                     <% end %>
                  </td>
               </tr>
            <% end %>
         </table>
    <% end %>
  </div>
   <div class="row">
      <div class="col-md-12">
         <%= line_chart @mean_data, discrete: true, min: @minimum, max: nil %>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <%= line_chart @hours_data, discrete: true, min: nil, max: nil %>
      </div>
   </div>

</div>
