<div class="page-header">
  <h1>
    Loans
    <a href="/loans/new" class="btn btn-lg btn-success">New Loan</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Principal</th>
        <th>Due date</th>
        <th>Apr</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.name %></td>
        <td><%= loan.principal %></td>
        <td><%= loan.due_date %></td>
        <td><%= loan.apr %></td>
        <td><%= loan.user_id %></td>
        <td>
          <a href="/loans/<%= loan.id %>" class="btn btn-primary">Show</a>
          <a href="/loans/<%= loan.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_loan/<%= loan.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
