<div class="row">
   <table class="table table-condensed">
      <thead>
         <tr>
            <th scope="col">Phase</th>
            <th scope="col">Min Recorded Bid</th>
            <th scope="col">Max Recorded Bid</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <th scope="row">1</th>
            <td><%= section.evaluation.p1_bid_min %></td>
            <td><%= section.evaluation.p1_bid_max %></td>
         </tr>

         <tr>
            <th scope="row">2</th>
            <td><%= section.evaluation.p2_bid_min %></td>
            <td><%= section.evaluation.p2_bid_max %></td>
         </tr>

         <tr>
            <th scope="row">3</th>
            <td><%= section.evaluation.p3_bid_min %></td>
            <td><%= section.evaluation.p3_bid_max %></td>
         </tr>

         <tr>
            <th scope="row">4</th>
            <td><%= section.evaluation.p4_bid_min %></td>
            <td><%= section.evaluation.p4_bid_max %></td>
         </tr>
      </tbody>
   </table>
</div>
