<% if bids.empty? %>
   <p>No bid data</p>
<% else %>
   <table class="table table-condensed">
      <thead>
         <tr>
            <th scope="col">Phase</th>
            <th scope="col">Latest Bids (<%= bids.first.quartertable.quarter_output %> <%= bids.first.year %>)</th>
         </tr>
      </thead>

      <tbody>
         <tr>
            <th scope="row">1</th>
            <td><%= bids.first.p1_price %></td>
         </tr>

         <tr>
            <th scope="row">2</th>
            <td><%= bids.first.p2_price %></td>
         </tr>

         <tr>
            <th scope="row">3</th>
            <td><%= bids.first.p3_price %></td>
         </tr>

         <tr>
            <th scope="row">4</th>
            <td><%= bids.first.p4_price %></td>
         </tr>
      </tbody>
   </table>
<% end %>
