<!-- UI Testing -->
<div class="col-md-4 mb-2">
   <!-- Build card container -->
   <div class="card" id="<%= course.id %>">

      <!-- Card Header and Navigation -->
      <div class="card-header">
         <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item" id="schedule">
               <a class="nav-link" href="javascript:void(0);">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  Schedule
               </a>
            </li>
            <li class="nav-item" id="rating">
               <a class="nav-link" href="javascript:void(0);">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  Ratings
               </a>
            </li>
            <li class="nav-item" id="bid">
               <a class="nav-link" href="javascript:void(0);">
                  <i class="fa fa-btc" aria-hidden="true"></i>
                  Bid Data
               </a>
            </li>
         </ul>
      </div>

      <!-- Card Body -->
      <div class="card-body">
         <h5 class="card-title" id="more">
            <a href="javascript:void(0);">
               <%= course.course_name %>
            </a>
         </h5>

         <!-- Identify Winter Sections for Course Card and Store as sections -->
         <% sections = course.sections.joins(:schedules).where('schedules.quarter = ?', @quarter).distinct %>

         <!-- Label and <input type="text" name="" value=""> for professor_id -->
         <!-- Create selection form for professor for each section -->
         <div class="form-group">
            <select class="form-control">
               <% sections.each do |section| %>
               <% prof = Professor.find(section.professor_id) %>

               <option value="<%= prof.id %>">
                  <%= prof.first_name %> <%= prof.last_name %>
               </option>

               <% end %>
            </select>
         </div>

         <!-- For each section, print schedule, rating, and bid data -->
         <% sections.each do |section| %>

         <!-- Contain all data in div with id=section_id for jquery selection -->
         <div class="section" data-section_id="<%= section.id %>">
            <!-- Contain all data in div with id=prof_id for jquery selection -->
            <div class="prof" id="<%= section.professor_id %>">

               <!-- Create schedule view for all sections -->
               <div class="schedule">

                  <!-- Load schedule data using fetch_schedules function defined in Course Model -->
                  <% schedules = course.fetch_schedules(section.professor_id, @quarter) %>

                  <!-- Create view for each schedule -->
                  <% schedules.each do |schedule| %>
                  <div class="row vertical-align">
                     <div class="col-xs-9">
                        <div class="chip" title='Course Number: <%= course.course_number %>-<%= schedule.section_number %>'>
                           <div class="chip-dot">
                              <%= schedule.daytable.day_output %>
                           </div>

                           <%= schedule.timetable.time_output %>
                        </div>
                        <div class='plan_form'>
                           <%= render partial: 'plan', locals: {schedule_id: schedule.id} %>
                        </div>
                     </div>
                     <div class='col-xs-3'>
                        <div class='plan'>
                           <% if current_user.schedules.where(id: schedule.id).empty? %>
                           <div class='add_plan'>
                              <div class='btn btn-link'>
                                 <i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
                              </div>
                              <div class='see_schedule btn btn-link'>
                                 <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                              </div>
                           </div>
                           <% else %>
                           <% id = current_user.plans.find_by(schedule_id: schedule.id).id %>
                           <div class='remove_plan'>
                              <a href="/delete_plan/<%= id %>">
                                 <button type='submit' class='btn btn-link'>
                                    <i class="fa fa-minus-square-o fa-lg" aria-hidden="true"></i>
                                 </button>
                              </a>
                           </div>
                           <% end %>
                        </div>
                     </div>
                  </div>
                  <% end %>
               </div> <!-- Close Schedule div -->


               <!-- Create bid view of all sections -->
               <div class="bid">
                  <div class="row">
                     <%= render partial: 'condensed_bid_table', locals: {bids: section.bids.order(year: :desc, quarter_id: :asc, time_id: :asc)} %>
                  </div>
               </div> <!-- Close Bid div -->


               <!-- Create rating view for all sections -->
               <div class="rating">
                  <%= render partial: 'ratings', locals: {ratings: section.ratings.order(year: :desc, quarter_id: :asc)} %>
               </div> <!-- Close Rating div -->

            </div> <!-- Close Prof div -->
         </div> <!-- Close Section div -->
         <% end %> <!-- Close section.each function -->
      </div> <!-- Close Card Body div -->
   </div> <!-- Close Card div -->
</div> <!-- Close column div -->
