<!-- UI Testing -->

<div class="col-md-4 mb-2">
   <!-- Build card container -->
   <div class="card" id="<%= course.id %>">

      <!-- Card Header and Navigation -->
      <div class="card-header">
         <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item" id="schedule">
               <a class="nav-link" href="javascript:void(0);">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                   Schedule
               </a>
            </li>
            <li class="nav-item" id="rating">
               <a class="nav-link" href="javascript:void(0);">
                  <i class="fa fa-star" aria-hidden="true"></i>
                   Ratings
                </a>
            </li>
            <li class="nav-item" id="bid">
               <a class="nav-link" href="javascript:void(0);">
                  <i class="fa fa-btc" aria-hidden="true"></i>
                   Bid Data
                </a>
            </li>
         </ul>
      </div>

      <!-- Card Body -->
      <div class="card-body">
         <h5 class="card-title" id="more">
            <a href="javascript:void(0);">
               <%= course.course_name %>
            </a>
         </h5>

         <!-- Identify Winter Sections for Course Card and Store as sections -->
         <% sections = course.sections.joins(:schedules).where('schedules.quarter = ?', @quarter).distinct %>

         <!-- Label and <input type="text" name="" value=""> for professor_id -->
         <!-- Create selection form for professor for each section -->
         <div class="form-group">
            <select class="form-control">
               <% sections.each do |section| %>
                  <% prof = Professor.find(section.professor_id) %>

                  <option value="<%= prof.id %>">
                     <%= prof.first_name %> <%= prof.last_name %>
                  </option>

               <% end %>
            </select>
         </div>

         <!-- For each section, print schedule, rating, and bid data -->
         <% sections.each do |section| %>

            <!-- Contain all data in div with id=section_id for jquery selection -->
            <div class="section" id="<%= section.id %>">
               <!-- Contain all data in div with id=prof_id for jquery selection -->
               <div class="prof" id="<%= section.professor_id %>">

                  <!-- Create schedule view for all sections -->
                  <div class="schedule">
                     <div class="row">
                        <div class="col-md-12">
                           <!-- Load schedule data using fetch_schedules function defined in Course Model -->
                           <% schedules = course.fetch_schedules(section.professor_id) %>

                           <!-- Create view for each schedule -->
                           <% schedules.each do |schedule| %>

                              <div class="chip" title='Course Number: <%= course.course_number %>-<%= schedule.section_number %>'>
                                 <div class="chip-dot">
                                    <%= schedule.daytable.day_output %>
                                 </div>

                                 <%= schedule.timetable.time_output %>
                              </div>

                           <% end %>

                        </div>
                     </div>
                  </div> <!-- Close Schedule div -->


                  <!-- Create bid view of all sections -->
                  <div class="bid">
                     <div class="row">
                        <%= render partial: 'condensed_bid_table', locals: {bids: section.bids.order(year: :desc, quarter_id: :asc, time_id: :asc)} %>
                     </div>
                  </div> <!-- Close Bid div -->


                  <!-- Create rating view for all sections -->
                  <div class="rating">
                     <div class="center row mb-2">

                        <!-- Communication Ratings -->
                        <div class="col-xs-4">
                           <p class="mb-0">Communication:</p>

                           <!-- Use partial to render stars data -->
                           <%= render partial:  'shared/stars', locals: {stars: section.evaluation.communication} %>
                        </div>

                        <!-- Engagement Ratings -->
                        <div class="col-xs-4">
                           <p class="mb-0">Engagement:</p>

                           <%= render partial:  'shared/stars', locals: {stars: section.evaluation.engagement} %>
                        </div>

                        <!-- Practical Ratings -->
                        <div class="col-xs-4">
                           <p class="mb-0">Practical:</p>

                           <%= render partial:  'shared/stars', locals: {stars: section.evaluation.practical} %>
                        </div>
                     </div>

                     <!-- New row in card -->
                     <div class="center row mb-2">

                        <!-- Learning Ratings -->
                        <div class="col-xs-6">
                           <p class="mb-0">Learning:</p>

                           <%= render partial:  'shared/stars', locals: {stars: section.evaluation.learning} %>
                        </div>

                        <!-- Recommendation Ratings -->
                        <div class="col-xs-6">
                           <p class="mb-0">Recommendation:</p>

                           <%= render partial:  'shared/stars', locals: {stars: section.evaluation.recommendation} %>
                        </div>
                     </div>

                     <div class="center row">
                        <div class="col-xs-12">
                           <p>
                              <strong>
                                 Avg. Hours: <%= section.evaluation.avg_hours %>
                              </strong>
                           </p>
                        </div>
                     </div>

                  </div> <!-- Close Rating div -->
               </div> <!-- Close Prof div -->
            </div> <!-- Close Section div -->
         <% end %> <!-- Close section.each function -->
      </div> <!-- Close Card Body div -->
   </div> <!-- Close Card div -->
</div> <!-- Close column div -->
