<div class="page-header">
   <h1>
      <%= @title %> Courses
   </h1>
</div>

<!-- Render Course Search Forms -->
<%= render 'courses/search.html.erb' %>
<hr>

<!-- Render partial view for every course from ransack search - creates card-effect -->

<%= render @courses %>

<!-- Pagination -->
<%= paginate @courses %>
<%= page_entries_info @courses %>
